	*{margin:0;padding:0;}
	body,html{width:100%;}
	.table{width:88%;margin:0 auto;}
	.table>table{width:100%;border: 1px solid #cccccc;border-collapse: collapse;table-layout:fixed;}
	.table>table tr td,.table>table tr th{border:1px solid #ff0000;    word-break: break-all;padding:1%;}
	.table>table tr td>div{width:95%;margin: 0 auto;padding:2% 0;}
	.table>table tr td ul{list-style: none;padding-left:4%;}
	.table>table tr td ul li{}
	p.r{text-align:right;}
	p.c{text-align:center;}